.information{
  background-color: #000000;
  padding:10px 10px 10px 10px;
}
.information .tt1{
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 20px ;
  height: 480px;
}
.container-fluid .information .position {
  position: absolute;
  top: 480px;
  left: 120px;
  background-color: #222222;
  padding: 8px 10px 6px 6px;
  width: 80%;
  opacity: 0.8;
  
}

.container-fuk-breadcrumb{size: 40px;
    color: white; 
    /*top: 0px*/
}
  
.container-fluid .information .position .text {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    left: 60px;
    font-family:time new roman;
}
.hotline{
  background-color: #222222;
  padding:10px;
  width: 100%;
  font-family: time new roman;
  font-size: 30px;
  color: red;
  text-align: center;

}
.page-title{
    background-color: #000;
    margin-left: 45px;
    margin-right: 52px;
    font-family: time new roman;
    padding-bottom: 5px;
    padding-top: 2px;
    opacity: 0.8;
    padding-left: 30px;
}
.page-content{
  background-color: #444;
}
.content{
    width: 1236px;
    margin-left: 46px;
    padding-top: 3px;
    background-color: #fff;
}
.std{
    margin-left: 15px;
    margin-top: 24px;
    font-size: 16px;
    color: #444;
    padding: 3px 25px;
}
.about{
    margin-right: -9px;
    margin-left: -9px;
}
a:hover{
  color: #d9d900;
}

.position .icon {
  font-size : 40px;
  color: #C0FFF4;
}
#anh-cua-hang {
  padding: 10px 10px 10px 10px;
  width: 500px;
  height: 500px;
}
.lh-intro {
  font-size: 25px;
  margin-bottom: 20px;
}
.modal-backdrop {
  z-index: 999!important;
}
.space-ground {
  height: 50px;
  background-color: #eee;
}
.navbar-brand>.logo{
  margin-top: -23px;
}

.banner2{
  width: 100%;

}
.textgallery{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  font-size: 40px;
  text-align: center;

}
.gallery{
   -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.item{
  background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.main .product {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main .product .product-thumbnail {
  border: 1px solid #eee;
  background-color: #eee;
  padding: 10px 10px 10px 10px;
}
.main .product .product-thumbnail img {
  width: 100%;
  height: 230px;
}
.main .product .product-title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
    margin: 0 0 5px;
}

#filters li {
  border: 2px solid #eee;
  border-radius: 25px;
  overflow: hidden;
}
#filters li:hover,#filters li:focus {
  border: 2px solid #eee;
  border-radius: 25px;
  overflow: hidden;
}

#filters li a {
  font-weight: bold;
  color: #7c858b;
}
.main .item:hover {
  border: 2px solid #6b7767;
}
/*.main .product .product-thumbnail:before {
    display: block;
    position: absolute;
    content: "";
    background: #202e39;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .5s;
}*/

.main {
  margin-top: 10px;
  margin-bottom: 30px;
}

.item-info {
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
}

.single-content .item-thumb {
  padding: 10px;
}

.single-content .item-thumb img {
  width: 100%;

}
.gallery {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.gallery:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.mansonry {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.mansonry--width2 { width: 320px; }
.mansonry--width3 { width: 480px; }
.mansonry--width4 { width: 640px; }

.mansonry--height2 { height: 200px; }
.mansonry--height3 { height: 260px; }
.mansonry--height4 { height: 360px; }

.gallery img{
  width: 100%;

}

.submit-login {
  padding: 20px;
  border: 1px dashed #d3d3d3;
}

.submit-login .col-md-8 {
  border-right: 1px solid #d3d3d3;
}

.submit-container .submit-button {
  margin-top: 5px;
}
.submit-container  .login-anchor {
  display: inline-block;
  background: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

/*vu's' style */
body{
    padding-top: 70px;
}

.page-header-2
{
    border-bottom: 1px solid #EEE;
}

.avatar-small{
    padding: 10px !important;
}

.avatar-small img{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.media-list img
{
    width: 48px;
    height: 48px;
}
.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.right-border-md
{
    border-right: 1px solid #e5e5e5;
}

.only-sx
{
    display: block;
}


.full-height-md
{
    min-height: 100%;
}
@media only screen and (min-width: 576px){
    .only-sx{
        display: none;
    }

}

.media-content{
    background-color: white;
    padding: 15px 15px 10px 15px;
    border-radius: 4px;
}

.media-heading{
    margin-bottom: 5px;
}
.media-info{
    margin-top: 5px;
}

.panel-footer .list-inline
{
    margin-bottom: 0px;
}

.media
{
    overflow: visible;
}

.media-left{
    position: relative;
}
.arrow-media-left:before{
    z-index: 100;
    content: " ";
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    margin-right: -10px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.comment-box{
    margin-top: 15px;
}

.tab-pane
{
    padding-top: 15px;
}

.my-carousel-control
{
    position: absolute;
    top: 50%;
}

body{
    padding-top: 70px;
}

.page-header-2
{
    border-bottom: 1px solid #EEE;
}

.avatar-small{
    padding: 10px !important;
}

.avatar-small img{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.media-list img
{
    width: 48px;
    height: 48px;
}
.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.right-border-md
{
    border-right: 1px solid #e5e5e5;
}

.only-sx
{
    display: block;
}


.full-height-md
{
    min-height: 100%;
}
@media only screen and (min-width: 576px){
    .only-sx{
        display: none;
    }
    .my-panel-body{
        padding: 15px 0px 15px 0px;
    }
    .container-fluid .my-row
    {
        height: 100%;
        display: table-row;
    }
    .no-float
    {
        display: table-cell;
        float: none;
    }
}

.media-content{
    background-color: white;
    padding: 15px 15px 10px 15px;
    border-radius: 4px;
}

.media-heading{
    margin-bottom: 5px;
}
.media-info{
    margin-top: 5px;
}

.panel-footer .list-inline
{
    margin-bottom: 0px;
}

.media
{
    overflow: visible;
}

.media-left{
    position: relative;
}
.arrow-media-left:before{
    z-index: 100;
    content: " ";
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    margin-right: -10px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

body{
    padding-top: 70px;
}

.page-header-2
{
    border-bottom: 1px solid #EEE;
}

.avatar-small{
    padding: 10px !important;
}

.avatar-small img{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.media-list img
{
    width: 48px;
    height: 48px;
}
.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.right-border-md
{
    border-right: 1px solid #e5e5e5;
}

.only-sx
{
    display: block;
}


.full-height-md
{
    min-height: 100%;
}
@media only screen and (min-width: 576px){
    .only-sx{
        display: none;
    }
    .my-panel-body{
        padding: 15px 0px 15px 0px;
    }
    .container-fluid .my-row
    {
        height: 100%;
        display: table-row;
    }
    .no-float
    {
        display: table-cell;
        float: none;
    }
}

.media-content{
    background-color: white;
    padding: 15px 15px 10px 15px;
    border-radius: 4px;
}

.media-heading{
    margin-bottom: 5px;
}
.media-info{
    margin-top: 5px;
}

.panel-footer .list-inline
{
    margin-bottom: 0px;
}

.media
{
    overflow: visible;
}

.media-left{
    position: relative;
}
.arrow-media-left:before{
    z-index: 100;
    content: " ";
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    margin-right: -10px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

#nav-login {
  background: #0084B4;
  padding: 10px;
  margin-top: 9%;
  border-radius: 6px;
  color: #fff;
}
#nav-login:hover {
  background: #04698e;
}

.login-page .back {
  background: #D3D3D3;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.login-page .div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

.login-page div.content {
  display: table-cell;
  vertical-align: middle;
}

.container.main-container {
  margin-top: 30px;
}
.submit-login {
  padding: 20px;
  border: 1px dashed #d3d3d3;
}

.submit-login .col-md-8 {
  border-right: 1px solid #d3d3d3;
}

.submit-container .submit-button {
  margin-top: 5px;
}
.submit-container  .login-anchor {
  display: inline-block;
  background: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.idea-request-list div {
  display: inline-block;
}

.switch-btn {
  margin-right: 5px;
}

